body {
	background-color: black;
}

div {
	display: inline-block;
}

.container {
	width: 100%;
	max-width: 100%;
	text-align: center;
}

.button {
	background-color: blue;
	border: 1px dotted black;
	border-radius: 15px;
}

.smallbutton {
	margin: 20em 2%;
	height: 4em;
	width: 10%;
	transition: all 2s linear;
}

.smallbutton:hover {
	height: 20em;
	width: 20%;
	margin: 0;
}